/* MATERIALIZE */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Lato, sans-serif;
  overflow: hidden;
  /* background-color: #303030;
  background-image: url("../templates/assets/common/svg_pattern_2.svg");
  background-attachment: fixed;
  background-size: cover; */
}

.logo {
  max-width: 140px;
  max-height: 140px;
  margin-left: 10px;
  margin-top: 5px;
}

/* sections */

/* header {
    min-height: 100vh;
    background-image: url("../templates/assets/common/stock-1.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

section {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section h2 {
  font-size: 5rem;
  color: white;
}

.secret {
  position: absolute;
  z-index: -2;
  transition: all ease .3s;
}



.section-home {
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-projects {
  background: #bc4e9c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-contacts {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
